<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/profile.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Register</title>
    <style>
        a{
            color: white;
        }
        a:hover{
            text-decoration: none;
            color: white;
        }
        .login{
            margin-top: -260px;
            margin-left: 400px;
        }
    </style>
</head>
<body>
    <% if(message.length>0){ %>
    <div class="alert alert-success" id="message">
        <p><span class="glyphicon glyphicon-ok mr-3"></span><%= message %></p>
    </div>
    <% } %>
    <form action="/admin/register" method="POST">
        <div class="container rounded bg-white mb-5">
            <div class="row">
                <div class="col-md-7 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile Settings</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" name="name" placeholder="first name" value=""></div>
                            <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" name="surname"value="" placeholder="surname"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" name="phno"placeholder="enter phone number" value=""></div>
                            <div class="col-md-12"><label class="labels">Postcode</label><input type="text" class="form-control" name="postcode" placeholder="enter address line " value=""></div>
                            <div class="col-md-12"><label class="labels">State</label><input type="text" class="form-control" name="state" placeholder="enter state" value=""></div>
                            <div class="col-md-12"><label class="labels">Area</label><input type="text" class="form-control" name="area" placeholder="enter area" value=""></div>
                            <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control" name="email_id" placeholder="enter email id" value=""></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control"  name="country" placeholder="country" value=""></div>
                            <div class="col-md-6"><label class="labels">Password</label><input type="text" class="form-control" name="password" value="" placeholder="password"></div>
                        </div>
                        <div class="mt-5 text-center">
                            <button class="btn btn-primary profile-button" type="submit">Register</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </form>
        <!-- <button class="btn btn-primary profile-button login"><a href="/admin/login">Login</a></button> -->
        <script>
        setTimeout(function(){
            document.getElementById("message").remove();
        }, 3000);
        </script>
</body>
</html>