<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Request</title>
    <style>
        .request{
            color: blue !important;
        }
        .banner{
            height: 0vh;
        }
        body{
            background-image: url("/images/bg2.jpg");
            background-size:cover;
        }
        .navbar{
            background-color: black;
            display: inline-block;
        }
        form{
            padding:30px;
        }
        label{
            font-weight: bolder;
        }
    </style>
</head>
<body>
    <%- include("./partials/navbar2.ejs") %>
    <% if(message.length>0){ %>
        <div class="alert alert-success" id="message">
            <p><span class="glyphicon glyphicon-ok mr-3"></span><%= message %></p>
        </div>
    <% } %>
    <form action="/request" method="POST">
        <div class="form-group col-md-5" >
            <label for="book_title">Book Title</label>
            <input type="text" class="form-control" id="book_title" name="book_title" placeholder="Book Title">
        </div>
        <div class="form-group col-md-5">
            <label for="book_title">Book Author</label>
            <input type="text" class="form-control" id="book_author" name="book_Author" placeholder="Book Author">
        </div>
        <div class="form-group col-md-5">
            <label for="exampleFormControlSelect1">Reading Level</label>
            <select class="form-control" id="reading_level" name="reading_level">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success ml-3">Submit</button>
    </form>
</body>
</html>